@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@keyframes pisca{
    0% {
        font-weight: 400;
    }

    50% {
        font-weight: 900;
    }

    100% {
        font-weight: 400;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(21, 8, 137);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit';
    transition: all 1s;
}

.options {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(21, 8, 137);
    border-top: none;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
    position: relative;
}
.type-font {
    animation: pisca 3s infinite ;
}

.options p {
    position: absolute;
    left: 370px;
    transition: all 0.5s;
}

.toggle {
    background-color: rgb(21, 8, 137);
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.circle {
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    left: 2px;
    font-size: 13px;
    text-align: center;
    transition: all 0.5s;
}

#escuro {
    display: none;
    color: rgb(21, 8, 137);
    position: absolute;
    left: 3px;
    top: 2px;
    transition: all 0.5s;

}

.fa-sun {
    position: absolute;
    left: 1.3px;
    top: 2px;
    transition: all 0.5s;

}

.font {
    cursor: pointer;
    display: flex;
}








.container {
    background-color: white;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    color: rgb(21, 8, 137);
    transition: all 0.5s;
}
.container {
    scale: 150%;
}

.header {
    border-bottom: 1px solid rgb(21, 8, 137);
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 800;
}

.title {
    padding-bottom: 10px;
    transition: all 0.5s;

}

.question {
    font-weight: 700;
    transition: all 0.5s;
}

.select {
    border: 1px solid rgb(21, 8, 137);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    transition: all 0.8s;
    cursor: pointer;
}

.select:hover {
    background-color: rgb(21, 8, 137);
    color: white;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button {
    background-color: rgb(21, 8, 137);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 40px;
    margin-top: 30px; 
    transition: all 0.5s;
    cursor: pointer;
    border: 1px solid rgb(21, 8, 137)
}

button:hover {
    background-color: white;
    color: rgb(21, 8, 137);
}

.finalScore {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 100px;
}

.finalScore p {
    font-size: 20px;
}



.top-header {
    background-color: white;
    color: white;
    width: 500px;
}
























.q-1 {
    display: block;
}

.q-2 {
    display: none;
}

.q-3 {
    display: none;
}

.q-4 {
    display: none;
}

.q-5 {
    display: none;
}

.q-6 {
    display: none;
}

.finalScore {
    display: none;
}

@media (max-width: 700px)  { 
    .container {   
        height: 350px;
        width: 180px;
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }

    .header {
        font-size: 17px;
    }

    .options {
        margin-bottom: 2px;
        justify-content: space-between;
        padding: 12px 7px 12px 7px;
    }

    button {
        margin-top: 15px;
    }

    .toggle {
        scale: 70%;
    }

    

    .finalScore h2 {
        font-size: 20px;
    }
    .finalScore p {
        font-size: 14px;
    }

    .options p {
        left: 60px;
        bottom: 35px;
        background-color: white;
        padding: 7px;    
        border-radius: 13px 13px 0px 0px;
    }

    .type-font {
        font-size: 15px;
    }

    .toggle {
        height: 20px;
    }

    .options {
        display: flex;
        align-items: center;
    }
}